.container {
    width:50%;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 50px;
    background-color: #E8D7FF
}
.table {
    margin:auto;

}
html {
    background-color: #F3FFE1
}
.title {
    text-align: center;
}
.tableContainer {
    border-radius:15px;
    background-color:white;
}
#chartContainer {
    width: 100%;
    position: absolute;
    height: 400px;
    margin-bottom: 100px 
}